*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite DE Grund", cursive;
  color: #FFFFFA;
}

body{
  background: #0e0f11 ;
}

header{
  margin: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.header{
  position: fixed;
  top: 0;
  z-index: 1000; 
}

.navbar{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
}

.navbar li {
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  border-bottom: 4px solid #08090A;}

.navbar li:hover {
  border-bottom: 4px solid #BA1200;
}

.navbar li a{
  text-decoration: none;
}

.buttons{
  display: flex;
  gap: 20px;
}

.buttons button{
  background: #BA1200;
  padding: 10px;
  border: none; 
  border-radius: 25px;
  box-shadow: -2px 2px 5px #FFFFFA;
  transition: 0.2s ease-in;
  border-bottom: 4px solid ;

}

.buttons button:hover{
  background: #00BA89;
}

.buttons button:nth-child(2):hover{
  background: #6320EE;
}

.home-page{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  height: auto;
  margin: auto;
  padding: 0 100px;
  margin-top: 50px;
}

.description{
  max-width: 700px;
  padding-bottom: 20vh;
}

.first-line{
  font-size: 2rem;
  line-height: 80px;
  margin-bottom: 40px;
}

.first-line h1{
  font-size: 4rem;
  line-height: 70px;
  margin-bottom: 40px;
  color: #BA1200;
  text-shadow: -10px 10px 20px #BA1200;
}

.card {
  width: 400px;
  height: 500px;
  transition: all 0.4s;
  border-radius: 10px;
  border-radius: 30px;
  box-shadow:  -10px 10px 20px  #BA1200;
  font-size: 30px;
  font-weight: 900;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  #BA1200;
  background: #BA1200;
}

.first-content {
  background: url(/photo\ de\ profil.png) center center/cover;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in;
  opacity: 1;
  border-radius: 30px;
}

.card:hover .first-content {
  height: 0%;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s ease-out;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}


.icons i{
  margin: 10px 10px;
  font-size: 1.8rem;
  transition: 0.3s ease-out;
}

.icons i:hover{
  transform: scale(1.5);
}

.education{
  padding: 100px 15%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.education h1{
  font-size: 2.4rem; 
  color: #2d39a0;
  text-decoration: underline;
  text-shadow: -10px 10px 20px #2d39a0;
  margin-bottom: 40px;
}

.education-card{
  padding-left: 30px;
  margin-left: 6px;
  border-left: #BA1200 solid 3px;
  line-height: 60px;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 15%;
}

.projects h1{
  margin-bottom: 50px;
}

.project{
  width: 40%;
  height: 300px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-radius: 20px;
  border: 0;
  transition: all 0.3s ease;
}

.project:hover{ 
  transform: scale(1.1);
  box-shadow: 0 0 40px #BA1200  ;
}

.projects h1{
  font-size: 2.4rem; 
  color: #2d39a0;
  text-decoration: underline;
  text-shadow: -10px 10px 20px #2d39a0;
}

.project-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.project img{ 
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0 0;
  transition: all 0.3s ease;
}

.project .desc{
  padding-bottom: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap :40px;
}

.skills h1{
  font-size: 2.4rem; 
  color: #2d39a0;
  text-decoration: underline;
  text-shadow: -10px 10px 20px #2d39a0;
}

.skills-list{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  min-width: 60%;
}

.skill{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  width: 100%;
}

.skill .level-bar{
  height: 5px;
  background: #6320EE;
  display: flex;
  justify-content: flex-start;
}

.skill:nth-child(1) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 91%;
}

.skill:nth-child(2) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 82%;
}

.skill:nth-child(3) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 65%;
}

.skill:nth-child(4) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 59%;
}

.skill:nth-child(5) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 55%;
}

.skill:nth-child(6) .level-bar .level{
  height: 100%;
  background: #BA1200;
  width: 40%;
}


/*redux----------hooks----------*/